- @page_title = "Users"

%main#content{role: 'main'}
  .grid-row
    .column-full
      %h1.heading-large Users

      %table.table-collapsible.user-table
        %thead
          %tr
            %th Email
            %th Department
            %th Service
            %th{colspan: "3"}
        %tbody
          - @users.each do |user|
            %tr
              %td= user.email
              %td= user.department
              %td= user.service
              %td= link_to 'View API Key', user_path(user)
