- @page_title = "Registers selfservice"

%main#content{role: 'main'}
  .grid-row
    .column-two-thirds
      %h1.heading-xlarge Registers selfservice
      = link_to 'Get started', new_user_path, class: 'button button-start'
