@charset "utf-8";

// GOV.UK Toolkit and GOV.UK Elements
@import 'govuk_elements';

// From alphagov/product-page-example
@import 'util/printable';
@import 'modules/breadcrumbs';
@import 'modules/content-section';
@import 'modules/govuk-logo';
@import 'modules/header';
@import 'modules/hero';
@import 'modules/masthead';
@import 'modules/phase-banner';
@import 'modules/related-items';
@import 'modules/skip-link';
@import 'modules/sub-navigation';
@import 'modules/pagination';
@import 'modules/search';
@import 'modules/footer-categories';
@import 'modules/tables';

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  @include core-19;
}

b,
strong {
  font-weight: bold;
}

// Override purple colour
a:visited {
  color: $govuk-blue;
}

.user-table {
  @include media(tablet) {
    td:last-of-type {
      text-align: right;
    }
  }
}

.notice {
  margin-bottom: $gutter;
}

.code-large {
  display: block;
  line-height: 1;
  margin: $gutter 0;
  padding: $gutter;
}
